/*-----BOX SIZING-----*/

html {
  box-sizing: border-box;
  margin: auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-----GLOBAL-----*/

body {
  font-family: 'Quattrocento', serif;
  color: #2F2627;
  background-color: #c0bcbb;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cac0be' fill-opacity='0.7'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
  text-align: justify;
  padding: 5px;
}

header.primary {
  background-color: #d0cccb;
  text-align: center;
  color: #312A2C;
  padding-top: 0.5em;
  min-width: 660px;
  max-width: 1300px;
  border-top: 5px solid;
  border-bottom: 5px solid;
  margin: 0 0 20px 0;
}

header.primary nav {
  min-width: 660px;
  max-width: 1300px;
  margin:20px auto;
}

header.primary nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.80rem;
}

header.primary nav li a {
  background-color: #c0bcbb;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

header.primary nav li a:hover {
  color: #F5F5F5;
  background-color: rgba(15, 15, 15, 0.8);
}

header.primary h1 {
  font-size: 5em;
  margin: 20px auto;
}

header.primary h1 a {
  text-decoration: none;
  color: #2F2627;
}

header.primary h3 {
  font-size: 2.8em;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: row;
}

#left-column {
  background-color: #d0cccb;
  border-style: double;
  width: 25%;
  max-width: 320px;
  padding: 5px;
  min-width: 160px;
}

#left-column h3 {
  text-align: center;
}

#left-column h4 {
  text-align: center;
  border-top: 1px solid;
  padding-top: 20px;
  margin-top: 20px;
  
}

#left-column img {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
}

#main-column {
  background-color: #d0cccb;
  border-style: double;
  width: 50%;
  max-width: 640px;
  padding: 5px;
  margin: 0 10px;
  min-width: 320px;
}

#main-column h2 {
  text-align: center;
}

#main-column h3 {
  border-top: 1px solid;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

#main-column img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
}

#main-column table {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
}

#main-column table caption {
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 5px;
}

#main-column table tbody tr td {
  padding: 0 20px 0 2px;
  border-width: thin;
  border-style: solid;
  margin: 0;
  
}

#right-column {
  background-color: #d0cccb;
  border-style: double;
  width: 25%;
  max-width: 320px;
  padding: 5px;
  min-width: 160px;
}

#right-column h3 {
  text-align: center;
}

#right-column h4 {
  text-align: center;
  border-top: 1px solid;
  padding-top: 20px;
  margin-top: 20px;
}

#right-column img {
  display: block;
  margin: auto;
  width: 75%;
  height: auto;
}

#image-container img {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 660px;
  max-width: 1300px;
}

@media screen and (max-width: 1240px) {
  header.primary nav ul {
    flex-direction: column;
  }
  
  header.primary nav li {
    margin: 2px auto;
  }
  
  header.primary nav a {
    display: block;
  }
}