body {
  background-color: #F1F1F1;
  font-family: 'Lora', 'PT Serif', serif;
  margin: auto;
  max-height: 768px;
  max-width: 1024px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

content {
  padding: 5px 0 0 5px;
  text-align: justify;
}

footer h6 a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}